/*
Name: Shakhzoda Ziyadullaeva
Student ID: 989906355
Course Name: IST 256
Assignment Title: Personal Portfolio
Submission Date: 2/1/2026
GitHub Repository: https://github.com/Shakhzoda2002/Shakhzoda_webportfolio
*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
 
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #fdfbfb;
    color: #222222;
    padding: 20px;
}
/* Centers everything */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    max-width: 1200px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}
 
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}
 
nav a {
    padding: 8px 12px;
    border-radius: 5px;
}
 
nav a:hover {
    background-color: var(--primary-color);
    color: red;
}
 
nav ul li a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    transition: color 0.3s;
}
 
section {
    margin-bottom: 30px;
    width: 100%;
    max-width: 1200px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.9s ease-in;
}
 h1,h2,h3,h4{
    margin-bottom: 5px;
    color: var(--primary-color);
}
 
h1::after {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background-color: var(--secondary-color);
    margin-top: 5px;
}
 
p {
    margin-bottom: 10px;
}
 
a {
    color: var(--primary-color);
    text-decoration: none;
}
 
a:hover {
    text-decoration: underline;
}
.container {

     max-width: 1200px;

     margin: 0 auto;

     padding: 0 15px; 

 }
 
.flex {

     display: flex;

     gap: 20px;

     flex-wrap: wrap; /*wrap on smaller screen*/

 }
 
.grid {

     display: grid;

     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

     gap: 20px;

 }
 .card {

    background-color: white;  

    padding: 15px;          

    border: 1px solid #ddd;   

}
 
.card:hover {

    border-color: var(--secondary-color); /* change border on hover */

}
form {

     margin: 0;

 }
 
input,

 textarea {

     width: 100%;

     padding: 6px;

     border: 1px solid #ccc;

 }
 
input:focus,

 textarea:focus {

     outline: none;

     border-color: #aaa;

 }
 /* style the tables */
table {
    width: 100%;
    border-collapse: collapse;
}
 
th,
td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}
 
thead {
    background-color: var(--primary-color);
    color: white;
}
/* animation for elements */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
 
section[id] {
    scroll-margin-top: 80px;
}
 
/* add responsive design */
@media (min-width: 768px) {
    body { padding: 40px; }
}
 
@media (min-width: 1024px) {
    nav ul { justify-content: flex-end; }
}
 
