* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
 
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #fdfbfb;
    color: #222222;
    padding: 20px;
}
 h1,h2,h3,h4{
    margin-bottom: 5px;
    color: var(--primary-color);
}
 
h1::after {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background-color: var(--secondary-color);
    margin-top: 5px;
}
 
p {
    margin-bottom: 10px;
}
 
a {
    color: var(--primary-color);
    text-decoration: none;
}
 
a:hover {
    text-decoration: underline;
}
.container {

     max-width: 1200px;

     margin: 0 auto;

     padding: 0 15px; 

 }
 
.flex {

     display: flex;

     gap: 20px;

     flex-wrap: wrap; /*wrap on smaller screen*/

 }
 
.grid {

     display: grid;

     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

     gap: 20px;

 }
 .card {

    background-color: white;  

    padding: 15px;          

    border: 1px solid #ddd;   

}
 
.card:hover {

    border-color: var(--secondary-color); /* change border on hover */

}
form {

     margin: 0;

 }
 
input,

 textarea {

     width: 100%;

     padding: 6px;

     border: 1px solid #ccc;

 }
 
input:focus,

 textarea:focus {

     outline: none;

     border-color: #aaa;

 }
