* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
 
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #fdfbfb;
    color: #222222;
    padding: 20px;
}
 h1,h2,h3,h4{
    margin-bottom: 5px;
    color: var(--primary-color);
}
 
h1::after {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background-color: var(--secondary-color);
    margin-top: 5px;
}
 
p {
    margin-bottom: 10px;
}
 
a {
    color: var(--primary-color);
    text-decoration: none;
}
 
a:hover {
    text-decoration: underline;
}